@model IEnumerable<ShopDienThoai.Models.User>

@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Danh sách người dùng</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Vai trò</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Address</td>
                            <td>@user.Role</td>
                            <td>
                                <a href="/admin/users/edit?id=@user.UserId" class="btn btn-primary btn-fw">Sửa</a>
                                <a href="/admin/users/delete?id=@user.UserId" class="btn btn-danger btn-fw mx-2">Xóa</a>
                                <a href="/admin/users/details?id=@user.UserId" class="btn btn-info btn-fw">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="/admin/users/create" class="btn btn-primary mt-4">Thêm người dùng</a>
